.form {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
