div {
  box-sizing: border-box;
}
.SkillContainer {
  height: auto;
  min-height: 100vh;
  width: 98.7vw;
  background-color: #020c1b;
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.SkillContainer__Skills {
  height: auto;
  min-height: 75vh;
  width: 70vw;
  display: grid;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-template-columns: repeat(4, 22%);
  grid-auto-rows: 38vh;
  opacity: 0;
  transform: translate(-200px);
  transition-property: opacity, transform, -webkit-transform;
  transition-timing-function: ease;
  transition-duration: 1s;
  border-radius: 80px;
  background-color: #3b3f56;
}
.SkillContainer__Skills.show {
  opacity: 1;
  transform: none;
}
.SkillContainer__Skills__item {
  height: 38vh;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-evenly;
  align-items: center;
  background: #020c1b;
  border-radius: 30px;
}
.SkillContainer__Skills__item__range {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -17px;
  top: -17px;
  border-radius: 50%;
  background: #ffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.SkillContainer__Skills__item__range__content {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: #020c1b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SkillContainer__Skills__item__range__content h1 {
  font-family: Raleway;
  font-size: 100%;
  color: #ffff;
  font-weight: bold;
}
.SkillContainer__Skills__item__Image {
  height: 60%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #3b3f56;
  border-radius: 20px;
}
.SkillContainer__Skills__item__space {
  height: 3%;
  width: 90%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #3b3f56;
}
.SkillContainer__Skills__item__Info {
  height: 15%;
  width: 70%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3f56;
  border-radius: 5px;
}
.SkillContainer__Skills__item__Info p {
  font-family: Inter;
  color: #fff;
  font-weight: bold;
}
.SkillContainer__Skills__item__Image img {
  height: 100%;
  width: 90%;
  object-fit: contain;
}
@media screen and (max-width: 1024px) {
  .SkillContainer {
    width: 100vw;
  }
  .SkillContainer__Skills__item {
    height: 70%;
    width: 18%;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .SkillContainer {
    height: auto;
    width: 100vw;
  }
  .SkillContainer__Skills {
    margin-top: 5vh;
    z-index: 200;
  }
  .SkillContainer__Skills__Columns {
    height: auto;
    flex-wrap: wrap;
  }
  .SkillContainer__Skills__item {
    height: 40vh;
    width: 40%;
    font-size: 12px;
  }
}
@media screen and (max-width: 425px) {
  .SkillContainer__Skills__item {
    height: 20vh;
  }
  .SkillContainer__Skills {
    border-radius: 40px;
  }
}
/***************    Estilando cuando esta rotado los moviles      **************/
@media screen and (max-height: 425px) {
  .SkillContainer__Skills__item {
    height: 60vh;
    width: 34%;
    font-size: 12px;
  }
}
