.HomeContainer {
  height: 100vh;
  width: 98.7vw;
  background-color: #020c1b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.HomeContainer__NavBar {
  height: 62px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  background: rgb(4 25 58 / 65%);
}
.HomeContainer__NavBar__Right {
  height: 50%;
  width: 50%;
  border-radius: 8px;
  margin-right: 40px;
  display: grid;
  overflow: hidden;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
}
.HomeContainer__NavBar__Right__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.HomeContainer__NavBar__Right__item button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.HomeContainer__NavBar__Right__item button {
  font-family: Inter;
  font-weight: 500;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #f9690e;
}
.dropdown {
  position: absolute;
  opacity: 0;
}
.homeContent {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoContainer {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoContent {
  height: 55%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.infoContent h1 {
  font-family: Montserrat;
  font-size: 54px;
  background-image: linear-gradient(
    258deg,
    rgba(204, 100, 35, 1) 31%,
    rgba(249, 105, 14, 1) 48%,
    rgba(59, 63, 86, 1) 59%,
    rgba(68, 71, 87, 1) 65%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.infoContent h3 {
  font-family: Inter;
  font-size: 24px;
  color: #f9690e;
}
.infoContent p {
  font-family: Inter;
  font-size: 16px;
  color: #ffffff;
}

.HomeContainer__Info__Contact {
  height: 28%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.homeProfile {
  height: 80%;
}
.homeProfile img {
  height: 100%;
}
.title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(
    258deg,
    rgba(250, 210, 1, 1) 31%,
    rgba(204, 177, 37, 1) 48%,
    rgba(115, 102, 167, 1) 59%,
    rgba(118, 104, 175, 1) 65%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*768*/
@media screen and (max-width: 1024px) {
  .HomeContainer {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .HomeContainer {
    width: 100vw;
  }
  .HomeContainer__NavBar {
    height: 100%;
    width: 40%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .HomeContainer__NavBar__Right {
    height: 100%;
    width: 100%;
    z-index: 100;
    transform: translate(-200px);
    opacity: 0;
    transition-property: opacity, transform, -webkit-transform;
    transition-timing-function: ease;
    transition-duration: 1s;
    background-color: #fad201;
    border-radius: 0px;
    margin-right: 0px;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto;
    gap: 10px;
  }
  .HomeContainer__NavBar__Right.show {
    transform: none;
    opacity: 1;
  }
  .HomeContainer__NavBar__Right__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
    cursor: pointer;
  }
  .HomeContainer__NavBar__Right__item button {
    height: 70%;
    width: 70%;
    border-radius: 10px;
    font-weight: bold;
    background-color: #232120;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
  }
  .HomeContainer__NavBar__Right__item:first-of-type {
    border-left: none;
  }
  .dropdown {
    opacity: 1;
    left: 90vw;
    top: 2vh;
    z-index: 200;
  }
  .dropdown button {
    height: 5vh;
    width: 5vh;
  }
}
@media screen and (max-width: 425px) {
  .HomeContainer__NavBar {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .HomeContainer__Circle {
    opacity: 0;
  }
  .SkillContainer__Title {
    width: 80%;
  }
}

/***************    Estilando cuando esta rotado los moviles      **************/
@media screen and (max-height: 425px) {
  .HomeContainer__Image {
    height: 70vh;
    top: 10vh;
  }
  .HomeContainer__Info {
    height: 40vh;
  }
  .HomeContainer__Info p {
    font-size: 12px;
  }
  .HomeContainer__Info__Contact {
    left: 45vw;
    top: 74vh;
  }
  .HomeContainer__Circle {
    opacity: 0;
  }
}
