.ProyectContainer {
  height: auto;
  min-height: 100vh;
  width: 98.7vw;
  padding-top: 100px;
  padding-bottom: 30px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #020c1b;
}
.ProyectContainer__Title {
  height: 10vh;
  width: 80%;
  display: flex;
  opacity: 0;
  transform: translate(-200px);
  transition-property: opacity, transform, -webkit-transform;
  transition-timing-function: ease;
  transition-duration: 1s;
  justify-content: center;
  align-items: center;
  background: #3b3f56;
  border-radius: 20px;
}
.ProyectContainer__Title.show {
  opacity: 1;
  transform: none;
}
.ProyectContainer__Title h1 {
  color: #f9690e;
  font-family: Inter;
  font-weight: bold;
}

.ProyectContainer__View {
  height: 50vh;
  width: 70vw;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: space-between;
  transition-property: opacity, transform, -webkit-transform;
  transition-timing-function: ease;
  transition-duration: 1s;
}
.left {
  transform: translate(-200px);
  flex-direction: row-reverse;
}
.right {
  transform: translate(200px);
}
.ProyectContainer__View.show {
  opacity: 1;
  transform: none;
}
.ProjectContainer__Card__info {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #3b3f56;
  border-radius: 36px;
  padding: 15px 30px;
}
.ProjectContainer__Card__info__title h1 {
  font-family: Inter;
  font-weight: bold;
  color: #f9690e;
}
.ProyectContainer__View__ButtonGroup {
  height: 14%;
  width: auto;
  min-width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}
.ProyectContainer__View__ButtonGroup__item {
  background: #020c1b;
  height: 100%;
  font-family: Inter;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #f9690e;
}
.ProyectContainer__ButtonGroup {
  height: 45px;
  width: auto;
  min-width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}
.ProyectContainer__ButtonGroup {
  font-family: Inter;
  font-weight: bold;
  color: #f9690e;
}
.ProyectContainer__Button {
  background: #3b3f56;
  height: 40px;
  font-family: Inter;
  font-weight: bold;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #f9690e;
}
.ProjectContainer__Card__info__text p {
  font-family: Inter;
  color: #ffff;
}
.ProjectContainer__Card__info__link {
  min-width: 40vw;
  display: flex;
  justify-content: flex-start;
  gap: 14px;
}
.ProjectContainer__Card__info__link a {
  text-decoration: none;
  color: #f9690e;
}
.ProyectContainer__Card__img {
  height: 70%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f9690e;
  border-radius: 24px;
}
.ProyectContainer__Card__img img {
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .ProyectContainer {
    width: 100vw;
  }
  .ProyectContainer__View__img img {
    height: 42vh;
    width: 45vw;
  }
  .ProyectContainer__View__ButtonGroup {
    width: 15%;
  }
  .ProyectContainer__View__ButtonGroup__item {
    height: 85%;
  }
  .ProyectContainer__Info {
    justify-content: center;
  }
  .ProyectContainer__Info p {
    height: 50%;
    width: 90%;
    font-size: 15px;
    margin: 0%;
  }
}
@media screen and (max-width: 768px) {
  .ProyectContainer__View {
    height: 42%;
  }
  .ProyectContainer__View__img {
    height: 30vh;
  }
  .ProyectContainer__View__ButtonGroup__item {
    height: 130%;
  }
  .ProyectContainer__View__ButtonGroup {
    width: 20%;
  }
}
@media screen and (max-width: 425px) {
  .ProyectContainer__previousProyect--Left {
    height: 10vh;
    width: 20vw;
  }
  .ProyectContainer__Title {
    width: 140%;
  }
  .ProyectContainer__Title {
    width: 140%;
  }
  .ProyectContainer__View {
    width: 100%;
    height: 30%;
    border-radius: 60px;
  }
  .ProyectContainer__View__img {
    height: 20vh;
  }
  .ProyectContainer__nextProyect--Right {
    width: 20vw;
    height: 10vh;
  }
  .ProyectContainer__Info {
    width: 120%;
  }
  .ProyectContainer__View__ButtonGroup {
    width: 30%;
    height: 4.9%;
  }
}
@media screen and (max-width: 375px) {
  .ProyectContainer__Info {
    width: 150%;
  }
  .ProyectContainer__Info p {
    font-size: 12px;
  }
  .ProyectContainer__Info h3 {
    font-size: 16px;
  }
  .ProyectContainer__View__ButtonGroup {
    width: 35%;
    height: 9.2px;
  }
  .ProyectContainer__View {
    border: 10px solid #fff;
    transform: none;
    opacity: 1;
  }
  .ProyectContainer__View__ButtonGroup {
    width: 35%;
    height: 9.2px;
  }
  .ProyectContainer__View__img img {
    width: 50vw;
  }
}
@media screen and (max-height: 425px) {
  .ProyectContainer__View {
    height: 60%;
    border-radius: 60px;
    border: 10px solid #ffff;
  }
  .ProyectContainer__Info {
    width: 130%;
    height: 20%;
  }
  .ProyectContainer__Info p {
    font-size: 12px;
  }
}
